# Android Studio
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/local.properties

# Logs and databases
*.log
*.sql
*.sqlite

# Keystore files
*.jks
*.keystore

# Others
*.apk
*.ap_
*.dex
*.class
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.swp
*.swo
*.bak
*.tmp
*.orig
*.iws
*.ipr
*.ids
*.hprof
*.pyc
*.pyo
*.pyd
*.db
*.lock
*.bin
*.cache
*.prefs
*.properties
*.sublime-workspace
*.sublime-project
*.tmproj
*.project
*.classpath
*.settings/
*.recommenders
